form {
  margin: 20px;
  display: block;
}

.form-control {
  width: 70%;
  border-radius: 5px;
  border-width: 1px;
  background-color: orange;
  font-size: 5px;
}

.current-location {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
